body{
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: hsl(0, 0%, 100%);
      background-color: hsl(120, 100%, 75%);
      text-align: center;
}



.image div button , .btn {
      width:300px;
      height:fit-content;
      margin: 20px;
      padding: 20px;
      font-size: 2.1rem;
      color: hsl(0, 0%, 100%);
      border:none;
      border-radius: 10px;
      background-color: hsl(120, 100%, 25%);
}


.image div button:hover , .btn:hover {
      background-color: hsl(120, 100%, 30%);
}

.image {
      margin: auto;
      height: auto;
      width: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
}

.image img {
      width: auto;
      height: 70vh;
      border-radius: 20px;
}

.image div {
      margin: 20px;
      display: flex;
      justify-content: space-around;
}
