.login-container {
      margin: auto;
      padding: 20px;
      width: 40vw;
      height: 40vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 10px;
      background-color:cadetblue;
}

.login-container h1{
      font-size: 2.1rem;
}

.login-container input{
      width:25vw;
      height: 25px;
      padding: 8px;
      margin: 4px;
      border: none;
      border-radius: 20px;
      outline: none;
}

.login-container input:valid {
      background-color: hsl(182, 25%, 90%);
}

.login-container button {
      width: 20vw;
      padding: 8px;
      margin: 4px;
      border: none;
      border-radius: 20px;
      color:white;
      background-color: hsl(182, 25%, 30%);
}

.login-container button:active {
      background-color: hsl(182, 25%, 40%);
}

@media (max-width:1000px){
      .login-container{
            width: 50vw;
            height: 30vh;
      }

      .login-container input {
            width: 45vw;

      }

      .login-container button {
            width:25vw;
      }
}